@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-jetbrains);
  background: var(--background);
  color: var(--foreground);
}
